<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<p>This is template</p>
{{name}},{{place}}
<!--create a form and text area (form action='removepunch' will take action in removepunch path) -->
<form action='/removepunch' method="get">
    <textarea style="height:200px;width:100%" name="text"></textarea>
    <button type="submit">Text analze</button>
    <input type="checkbox" name="checkbox">Remove Punchuation
    <input type="checkbox" name="capital">Capital Letters
</form>
</body>
</body>
</html>